:root {
	--dark-blue: #1c2739;
	--darker-blue: #141c29;
	--light-blue: #3c4759;
	--text-color: #dadada;
	--dark-blue-shadow: #111822ab;
}
body {
	background: linear-gradient(var(--dark-blue), var(--darker-blue));
	font-family: sans-serif;

	min-height: 100dvh;
	margin: 0;
}

#container {
	width: 50vw;
	mask: linear-gradient(90deg, transparent, white 40%, white 60%, transparent);
	-webkit-mask: linear-gradient(
		90deg,
		transparent,
		white 40%,
		white 60%,
		transparent
	);
}
ul {
	display: flex;
	gap: 10px;
	list-style: none;
	padding: 0;
}
li {
	background: var(--light-blue);
	color: var(--text-color);
	padding: 10px 20px;
	border-radius: 7px;
	/* 	border: 1px outset var(--text-color); */
	box-shadow: 2px 2px 2px var(--dark-blue-shadow),
		2px 3px 3px var(--dark-blue-shadow), 2px 5px 5px var(--dark-blue-shadow),
		2px 8px 8px var(--dark-blue-shadow);
}

#container[data-animated] {
	overflow: hidden;
}
#container[data-animated] #list {
	width: max-content;
	animation: scroll 20s linear infinite;
}

@keyframes scroll {
	to {
		translate: calc(-50% - 5px);
	}
}